flows.json
[{"id":"a4d333d8.2ffba","type":"tab","label":"Customer Help Desk","disabled":false,"info":""},{"id":"92b64bbe.059d78","type":"ui_form","z":"a4d333d8.2ffba","name":"","label":"Enter your query","group":"3472749f.3e774c","order":0,"width":"27","height":"1","options":[{"label":"","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":100,"wires":[["898b5acc.453378"]]},{"id":"898b5acc.453378","type":"function","z":"a4d333d8.2ffba","name":"Input Parsing","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":260,"wires":[["c315575b.2a7f48","ec294bd6.741438"]]},{"id":"c067b3b6.f4f74","type":"function","z":"a4d333d8.2ffba","name":"Parsing","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n    msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n}\n    msg.payload=msg.payload.text;\n}\n\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["7ad872a3.a4bb7c","6babfa52.a49da4"]]},{"id":"ec294bd6.741438","type":"ui_text","z":"a4d333d8.2ffba","group":"3472749f.3e774c","order":1,"width":"27","height":"1","name":"","label":"User","format":"{{msg.payload}}","layout":"col-center","x":340,"y":360,"wires":[]},{"id":"7ad872a3.a4bb7c","type":"ui_text","z":"a4d333d8.2ffba","group":"3472749f.3e774c","order":2,"width":"27","height":"8","name":"","label":"Chatbot","format":"{{msg.payload}}","layout":"col-center","x":610,"y":360,"wires":[]},{"id":"5c85071.f15f1f8","type":"debug","z":"a4d333d8.2ffba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":80,"wires":[]},{"id":"6babfa52.a49da4","type":"debug","z":"a4d333d8.2ffba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":160,"wires":[]},{"id":"c315575b.2a7f48","type":"watson-conversation-v1","z":"a4d333d8.2ffba","name":"","workspaceid":"c095dcec-77bd-4732-b647-7e407c90c1c0","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/1d1e6d57-fb4e-418e-8c7c-626f63f8e869","timeout":"","optout-learning":false,"x":380,"y":100,"wires":[["c067b3b6.f4f74","5c85071.f15f1f8"]]},{"id":"3472749f.3e774c","type":"ui_group","z":"","name":"Default","tab":"c37fbb08.7c0d78","order":1,"disp":true,"width":"27","collapse":false},{"id":"c37fbb08.7c0d78","type":"ui_tab","z":"","name":"Customer Help Desk","icon":"dashboard","disabled":false,"hidden":false}]